.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
}

.container-fluid>.navbar-header{
    margin-right:0px !important;
}

.navbar-nav>li>a{
    color:white !important;
}

.navbar-header{
    padding-left:10px !important;
}

.navbar-brand{
    color:white !important;
    font-family: 'Poppins', sans-serif;
}

.table{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.crest{
    height:35px;
    width:35px;
    padding-right: 5px;
}

li{
    list-style: none;
    font-family: 'Poppins', sans-serif; 
}

ul{
    padding:0px !important;
}

.liMatches{
    font-weight:bold;
    padding-left:3px;
}

.fixturediv{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
}

.footlang{
    color:white;
}

.table {
    display:none;
}

.mainimg{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url('img/frontpage.jpg');
    width: 100vw;
    height: 100vh;
}

.display{
    display:none;
}

.mainh1{
    color:white;
    text-shadow: 1px 1px #000000 !important; 
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(255, 250, 251, 0.19999999999999996);
}
